<div height="300px;">
  <audio controls #audio123 controlsList="nodownload" src="https://firebasestorage.googleapis.com/v0/b/angular-ng-build-safari.appspot.com/o/-%20GIN%20-%20Testing%20Lakewood%20M31-CP%20(online-audio-converter.com).mp3?alt=media&token=1ba5f53e-58d3-43fe-b058-a6de05a51c29" preload="metadata"></audio>
</div>